{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <aside>
        <header>
            <img src="{% static 'main/images/logo.png' %}" alt="Logo" class="logo">
            <h1>Water Meters</h1>
            <p>установка - передача счётчиков</p>
            <p><span class="support-label">Поддержка - </span><a href="#" class="support">pavlushechko@gmail.com</a></p>
        </header>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
