body {
  font-family: Arial, sans-serif;
  background-color: #add8e6;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto; /* Добавляем отступ сверху */
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: left; /* Возвращаем нормальное выравнивание */
}

header {
  margin-bottom: 20px;
}

.logo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px; /* Центрируем */
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%; /* Расширяем */
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: navy;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background-color: darkblue;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-group input {
  margin-right: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-container label {
  margin-left: 10px;
}
