{% extends 'main/layout.html' %}

{% block title %}
Water Meters
{% endblock %}

{% block content %}
<div class="container">
    <main>
        <h2>Список подключённых квартир</h2>

        <!-- Форма поиска -->
        <form method="GET" action="{% url 'service_list' %}" class="list-search-form">
            <input type="text" name="search" placeholder="Поиск по городу, улице, дому, квартире" value="{{ request.GET.search }}">
            <button type="submit">Искать</button>
        </form>

        {% if services %}
            <div class="card-list">
                {% for service in services %}
                    {% include 'main/service_card.html' %}
                {% endfor %}
            </div>
        {% else %}
            <p>Нет доступных квартир.</p>
        {% endif %}
    </main>
</div>
{% endblock %}
