{% extends "main/layout.html" %}

{% block content %}
<div class="container">
    <main>
        <h2>Информация о квартире</h2>
        {% if service %}
            <div>
                <div class="detail-img">
                    <img src="{{ service.image }}" alt="Фото дома">
                </div>
                <p>Город: {{ service.city }}</p>
                <p>Улица: {{ service.street }}</p>
                <p>Дом: {{ service.house }}</p>
                <p>Квартира: {{ service.apartment }}</p>
            </div>
        {% else %}
            <p>Квартира не найдена.</p>
        {% endif %}
        <br>
        <form method="post" action="#">
            {% csrf_token %}
            <div class="detail-fields">
                <label>ГВС1</label>
                <input type="number" name="gvs" class="detail-input detail-gvs-input" placeholder="Введите значение ГВС1">

                <label>ХВС1</label>
                <input type="number" name="hvs" class="detail-input detail-hvs-input" placeholder="Введите значение ХВС1">

                <button type="button" class="detail-add-button">Добавить ГВС</button>
                <button type="button" class="detail-add-button">Добавить ХВС</button>

                <button type="submit" class="detail-submit-button">Отправить заявку</button>
            </div>
        </form>
        <br>
        <a href="{% url 'service_list' %}" class="detail-back-button">← Назад</a>
    </main>
</div>
{% endblock %}
